<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="formContainer">
    <form method="POST" action="/new">
      <fieldset>
        <legend>Add a user</legend>
        <div class="formEntries">
          <input placeholder="enter username" type="text" id="user" name="user" required><br>
        </div>
        <div class="formEntries">
          <input type="text" name="messagetext" placeholder="enter message" required><br>
          <input id="submitBtn" type="submit" value="Send">
        </div>
      </fieldset>
    </form>
  </div>
</body>
</html>